.footer{
    background: white;
    margin-top: 3%;
    width: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-shadow: -10px 5px 10px black;
    /* position: absolute;
    bottom: 0;
    left: 0; */
}


.first-list-foot{
    /* background: red; */
    grid-column: 2/3;
}

.second-list-foot{
    /* background: green; */
    grid-column: 3/4;
}

.thirt-list-foot{
    /* background: yellow; */
    grid-column: 4/5;
}

.list-none li{
    list-style: none;
    padding-bottom: 7px;
}

.List-container-footer p{
    margin-bottom: 10px;
}

.List-container-footer a{
    color: grey;
}

.List-container-footer{
    margin-left: auto;
    margin-right: auto;
}

.grid-container-footer{
    display: grid;
    padding-top: 3%;
    grid-row: 1/2;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: 1fr 70px 70px;
    justify-content: space-evenly;
    margin-left: auto;
    margin-right: auto; 
    width: 70%;
    max-width: 1100px;  
    /* background: rosybrown; */
}

/* logo */

.logo-footer-container{ 
    /* background: brown; */
    grid-row: 2/3;
    grid-column: 1/2;
    margin-right: auto;
    margin-top: 5%;
    /* background: orangered; */
}

.logo-footer-class{
    width: 50%;
}

/* texto final */

/* .copy{ */
    /* background: yellowgreen; */
    /* margin-right: auto;
    grid-row: 3/4;
    grid-column: 1/4;
} */

.end-container{
    grid-row: 3/4;
    grid-column: 1/6;
    /* background: green; */
    display: grid;
    grid-template-columns: repeat(6,1fr);
}

.copy-container-footer{
    grid-column: 1/4;
}

.copy-text-footer{
    color: gray;
    /* background: rebeccapurple; */
}

.media-container-footer{
    grid-column: 4/7;
    display: flex;
    justify-content: space-evenly;
    /* background-color: aqua; */
}

.media-container-footer a:hover p{
    color: black;
}

.media-container-footer p{
    color: gray;
}

@media screen and (max-width: 970px){
    .grid-container-footer{
        width: 90%;
    }

    .logo-footer-container{
        display: flex;
        align-items: center;
    }

    .logo-footer-class{
        width: 40%;
    }
}

@media screen and (max-width: 760px){


    .grid-container-footer{
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(4,1fr);
    }

    .grid-container-footer *{
        grid-row: none;
        grid-column: 1;
    }

    /* listas */
    .List-container-footer{
        text-align: center;
        grid-column: 1;
        padding-top: 15px;
    }

    .first-list-foot{
        grid-row: 1/2;
    }

    .second-list-foot{
        grid-row: 2/3;
    }

    .thirt-list-foot{
        grid-row: 3/4;
    }

    .logo-footer-container{
        grid-row: 4/5;
        padding-top: 10px;
        margin-left: auto;
        display: block;
    }

    .end-container{
        grid-row: 4/5;
    }

    /* media */

    .media-container-footer{
        display: none;
    }

    .end-container{
        padding-top: 30px; 
        margin-left: auto;
        margin-right: auto;
        font-size: 70%;
        grid-template-columns: none;
    }

    /* Logo */

    .copy-container-footer{
        text-align: center;
        grid-column: none;
        /* background: green; */
    }

    .logo-footer-class{
        width: 50px;
    }
}