.main-nav-container{
    background: white;
    /* background: yellow; */
    box-shadow: -4px -5px 8px black;
    margin-bottom: 20px;
    /* experiment */
    /* position: absolute;
    display: block;
    overflow-y: hidden;
    overflow-x: visible; */
}

.nav-container{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: white;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    max-width: 1100px;
    height: 60px;
    /* position:fixed; */
    display: grid;
    grid-template-columns: repeat(5,1fr);
    /* identificar fondo */
    /* background: red; */
    
}

.nav-list-container{
    grid-column: 3/5;
    display: grid;
    grid-template-rows: 3;
    /* background: red; */
}

.image-container{
    grid-column: 1/2;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2,1fr);
}

.logo-search{
    grid-column: 5/6;
    display: grid;
    grid-template-rows: 3;
    /* background: red; */
}

.bg-mine{
    grid-row: 2/3;
    list-style: none;
    display: flex;
    /* background: yellow; */
    justify-content: center;
}

.nav-link{
    padding-bottom: 18px;
}

.nav-link:hover{
    border-bottom: 3px  solid black;
}


.bg-mine li{
    margin-left: 20px;
}

.logo-class{
    width: 70%;
}


.logo-search-item{
    margin-left: auto;
    grid-row: 2/3;
    /* background: blue; */
}

/* lines movil none */

.lines-nav-container{
    display: none;
}

.lines-block{
    cursor: pointer;
}

@media screen and (max-width: 1120px){
    .nav-list-container{
        grid-column: 2/5;
    }
}

/* @media screen and (max-width: 1026px){
    .logo-search{
        display: none;
    }
} */

@media screen and (max-width: 970px){

    *{
        box-sizing: inherit;
    }

    body{
        overflow-x: hidden;
    }

    .nav-container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        height: 60px;
        width: 90%;
        /* background: gold; */
    }
    
    .logo-class{
        width: 50px;
    }


    .nav-list-container{
        grid-template-rows: 1fr;
        position: absolute;
        left: 0px;
        /* min-height: calc(100vh - 60px - 260px); */
        height: 0px;
        /* background: black; */
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        top : 60px;
        width: 100%;
        overflow: scroll;
        /* tranformar*/
        /* transform: translateX( -100%); */
        transition: height 0.5s ease-in-out;
        /* box-shadow: 0px 5px 20px black; */
    }

    .nav-active{
        height: 90vh;
    }

    .nav-list-container ul{
        grid-row: 1/2;
        background: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* background: red; */
        justify-content: space-evenly;
    }

    .nav-list-container li{
        margin-top: 40px;
    }

    .nav-list-container a{
        color: black;
        font-size: 120%;
    }

    .logo-search{
        display: none;
    }

    /* lines movile yes */

    .lines-nav-container{
        display: grid;
        align-items: center;
        /* justify-content: center; */
        margin-left: auto;
        grid-column: 3/5;
        /* background: rebeccapurple; */
    }

    .lines-block{
        display: block;
    }

    .lines-nav-container .line-div{
        width: 25px;
        height: 2px;
        background-color: black;
        margin: 4px;
    }
}